.profile-pic {
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 250px;
}

.intro {
  font-size: 40px;
  color: #8AC5FC;
}
.intro span{
  color: #E7F3F9;
}

.home-bio {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  color: #8AC5FC;
}

.skills {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  color: #E7F3F9;
}

  