.form-group {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.form-control {
  background-color: #839fb1 !important;
  color: #E7F3F9 !important;
  font-size: 20px !important;
  border-radius: 0px !important;
  border: 1px solid #E7F3F9 !important;
}

.center-item {
  justify-content: center;
}


.contact-text {
  text-align: center;
  color: #8AC5FC;
  font-size: 20px;
  margin-bottom: 30px;
}

.contact-text span {
  color: #E7F3F9;
  text-decoration: underline dotted;
}


input:focus, textarea:focus {
  outline: 0 !important;
  box-shadow: none !important;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #E7F3F9;
  -webkit-box-shadow: 0 0 0px 1000px #839fb1 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.div-button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}


.div-button button {
  font-size: 20px !important;
  background-color: #839fb1 !important;
  color: #E7F3F9  !important;
  border: none !important;
  border-radius: 0px !important;
}