.navbar{
  padding: 0px !important;
  background-color: #383838 !important;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo:hover {
  width: 50px;
  height: 50px;
}

.nav-item {
  font-size: 20px;
  margin-left: 20px;
}

.nav-link.active{
  text-decoration: underline !important;
}