.footer {
    position: fixed !important;
    bottom: 0  !important;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    height: 150px; /* Fixed height for footer*/
    line-height: 55px; /* Vertically center text accounting for 5px for footerline */
    text-align: center;
    background-color: #E7F3F9;
    padding-top: 10px;
}

.icon a {
  font-size: 50px;
  color: #537fbb;
  margin:10px;
}

.icon:hover a {
  font-size: 60px;
  color: #537fbb;
}

.inline {
  display: flex;
  justify-content: center;
}

.copyright {
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #032F70;
}