.footer {
    position: fixed !important;
    bottom: 0  !important;
    left: 50%;
    width: 94%;
    transform: translateX(-50%);
    height: 150px; /* Fixed height for footer*/
    line-height: 55px; /* Vertically center text accounting for 5px for footerline */
    text-align: center;
    background-color: #383838;
    padding-top: 10px;
}

.icon a {
  font-size: 40px;
  color: #6294C1;
  margin:10px;
  transition: all .2s ease-in-out;
}

.icon:hover a {
  font-size: 50px;
  color: #E7F3F9;
}

.inline {
  display: flex;
  justify-content: center;
}

.copyright {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%);
  color: #6294C1;
  font-family: sans-serif; 
}


.copyright span {
  color: #E7F3F9;
}