.footer {
  position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px; /* Fixed height for footer*/
    line-height: 55px; /* Vertically center text accounting for 5px for footerline */
    text-align: center;
    background-color: #032F70;
}